@page
@model Urban_Arktida.Pages.Mestys.DeleteModel

@{
    ViewData["Title"] = "Smazat záznam";
}

<h1>Smazat</h1>

<h3>Opravdu chcete smazat záznam?</h3>
<div>
    <h4>Města</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.Nazev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.Nazev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.Rozloha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.Rozloha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.Obyvatele)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.Obyvatele)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.Temp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.Temp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.C)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.C.Cid)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Mesta.Mid" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-page="./Index">Zpět na seznam</a>
    </form>
</div>
