@page
@model Urban_Arktida.Pages.Mestys.DetailsModel

@{
    ViewData["Title"] = "Detail města";
}

<h1>Detail města</h1>

<div>
    <h4>Města</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.Nazev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.Nazev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.Rozloha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.Rozloha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.Obyvatele)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.Obyvatele)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.Temp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.Temp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mesta.C)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mesta.C.Cid)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mesta.Mid">Upravit</a> |
    <a asp-page="./Index">Zpět na seznam</a>
</div>
