@page
@model Urban_Arktida.Pages.Mestys.IndexModel

@{
    ViewData["Title"] = "Severská Města";
}

<h1>Severská Města</h1>

<p>
    <a asp-page="Create">Vytvořit záznam</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mesta[0].Nazev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesta[0].Rozloha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesta[0].Obyvatele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesta[0].Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesta[0].C)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mesta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rozloha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obyvatele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C.Cid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Mid">Upravit</a> |
                <a asp-page="./Details" asp-route-id="@item.Mid">Detail</a> |
                <a asp-page="./Delete" asp-route-id="@item.Mid">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
