@page
@model Urban_Arktida.Pages.Statys.DeleteModel

@{
    ViewData["Title"] = "Smazat";
}

<h1>Smazat záznam</h1>

<h3>Opravdu chcete smazat záznam?</h3>
<div>
    <h4>Státy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staty.Nazev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staty.Nazev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staty.Rozloha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staty.Rozloha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staty.Obyvatelstvo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staty.Obyvatelstvo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Staty.Cid" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-page="./Index">Zpět na seznam</a>
    </form>
</div>
