@page
@model Urban_Arktida.Pages.Statys.DetailsModel

@{
    ViewData["Title"] = "Detaily";
}

<h1>Detaily</h1>

<div>
    <h4>Státy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staty.Nazev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staty.Nazev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staty.Rozloha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staty.Rozloha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staty.Obyvatelstvo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staty.Obyvatelstvo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staty.Cid">Upravit</a> |
    <a asp-page="./Index">Zpět na seznam</a>
</div>
